/** {
  color: rgb(132, 7, 7);  
} */

body {
    margin: 0;
}
footer {
    border: 1px solid darkgray ;
}

#heading {
    color: darkblue;
}

header {
    border-radius: 10px;
    border: 2px dashed black;
}

h1 {
    color: blue;
}


h1{
    color: red;
}


.sectionFirst {
    font-style: italic
}

.sectionSecond {
    text-decoration: underline;
}

.bigText {
    font-size: 40px;
}

.smallText {
    font-size: 18px;
}
.firstLi {
    cursor: pointer;
    background-color: rgb(180, 173, 198);
}
li {
    color: rgb(65, 54, 224);
    background-color: rgb(231, 240, 248) ;
}